<%- include("../public/partials/header") -%>

    <div class="row padding-row my-md-5 d-flex justify-content-center">
        <div class="container col-11 rounded-3 p-3 m-0 bg-principal">
            <div class="row m-0">
                <div class="col">
                    <h4 class="text-light text-center">Lotes Registrados para la pasta <%= sap %> </h4>
                </div>
            </div>
        </div>

        <div class="col-11 bg-light mb-5 d-flex border-principal rounded-3">

            <% infoLotes.forEach( lote => { %>

                <div class="card m-3 border rounded-3 w-25">
                    <div class="card-header bg-principal">
                        <h5 class="text-light text-center">Lote <%= lote.cod_lote %> </h5>
                    </div>
                    <div class="card-body body-card-info">
                        <h6>Comentarios</h6>
                        <p class="card-text">
                            <%= lote.comentario %>
                        </p>
                    </div>
                </div>

            <% }); %>

        </div>
    </div>

<%- include("../public/partials/footer-lotePasta") -%>