
<%- include("../public/partials/header") -%>

<script>
    let formulasColores = <%- JSON.stringify(formulas) %>
</script>

<div class="row my-md-5 padding-row d-flex justify-content-center align-content-center">

    <% if(message !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <%= message %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% if(success !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <div class="col-11 d-flex align-self-center justify-content-center bg-principal h-100 col-ppal-middle-row">
        <form action="/terminado/inicio-evaluacion" method="post" class="w-100 h-100">
            <h5 class="text-light text-center my-3">Información del Color</h5>
            <div class="form-group align-self-center d-flex flex-column w-100 my-3" id="divColor">
                <select name="sapColor" class="form-select" aria-label="Selección del color" id="sapColor" onchange="obtenerSapColor(this)" required>
                    <option selected >Seleccione un Color existente</option>
                    <% colores.forEach( function(color) { %>
                        <option value="<%= color %>"><%= color %></option>
                    <% }); %>
                </select>
            </div>
            <p class="text-center text-light">Sí no encuentra el color, regístrelo como nuevo color</p>
            <div class="form-group d-flex flex-column justify-content-center my-3">
                <a href="/formula/nuevo-color" class="btn btn-opcion bg-principal w-25 ms-auto me-auto">Nuevo Color</a>
            </div>

        </form>
    </div>
</div>

<%- include("../public/partials/footer-done") -%>