<%- include("public/partials/header") -%>


    <% if(user.tipo_usuario==1){ %>
        <div class="row my-md-5 middle-row-3">

            <% if(success !='' ){ %>
                <div class="container p-4">
                    <div class="row m-0">
                        <div class="col">
                            <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                                <%= success %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Cerrar"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                    <div class="col-md-6 col-sm-12 d-flex flex-column">
                        <a href="/terminado" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Evaluación de Terminado</a>
                        <a href="/calidad" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Control de Calidad</a>
                        <a href="/lotes" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Consultar Lotes</a>
                        <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Bitácora
                            de Entonado</a>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex flex-column">
                        <a href="/nuevo-usuario" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Nuevo Usuario</a>
                        <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Actualizar Datos de Usuario</a>
                        <a href="/formula" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                            type="button">Fórmula</a>
                    </div>
        </div>
        <% } else if(user.tipo_usuario==2){ %>
            <div class="row my-md-5 middle-row-3">

                <% if(success !='' ){ %>
                    <div class="container p-4">
                        <div class="row m-0">
                            <div class="col">
                                <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                                    <%= success %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Cerrar"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                        <div class="col-md-6 col-sm-12 d-flex flex-column">
                            <a href="/terminado" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                type="button">Evaluación de Terminado</a>
                            <a href="/calidad" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                type="button">Control de Calidad</a>
                            <a href="/lotes" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                type="button">Consultar Lotes</a>
                            </div>
                        <div class="col-md-6 col-sm-12 d-flex flex-column">
                            <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                type="button">Bitácora de Entonado</a>
                            <a href="/nuevo-usuario" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                type="button">Nuevo Usuario</a>
                            <a href="/formula" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                type="button">Fórmula</a>
                        </div>
            </div>
            <% } else if(user.tipo_usuario==3){ %>
                <div class="row my-md-5 middle-row-3">

                    <% if(success !='' ){ %>
                        <div class="container p-4">
                            <div class="row m-0">
                                <div class="col">
                                    <div class="alert alert-primary alert-dismissible fade show text-center"
                                        role="alert">
                                        <%= success %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Cerrar"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

                            <div class="col-md-6 col-sm-12 d-flex flex-column">
                                <a href="/terminado"
                                    class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                    type="button">Evaluación de Terminado</a>
                                <a href="/calidad" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                    type="button">Control de Calidad</a>
                                <a href="/lotes" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                    type="button">Consultar Lotes</a>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex flex-column">
                                <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                    type="button">Bitácora de Entonado</a>
                                <a href="/formula"
                                    class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                    type="button">Fórmula</a>
    
                            </div>
                </div>
                <% } else if(user.tipo_usuario==4){ %>
                    <div class="row my-md-5 middle-row-1">

                        <% if(success !='' ){ %>
                            <div class="container p-4">
                                <div class="row m-0">
                                    <div class="col">
                                        <div class="alert alert-primary alert-dismissible fade show text-center"
                                            role="alert">
                                            <%= success %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Cerrar"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                                <div class="col-md-6 col-sm-12 d-flex flex-column">
                                    <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                        type="button">Bitácora de Entonado</a>
                                </div>
                                <div class="col-md-6 col-sm-12 d-flex flex-column">
                                    <a href="/lotes"
                                        class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                                        type="button">Consultar Lotes</a>
                                </div>
                    </div>
                    <% } %>

<%- include("public/partials/footer-menu") -%>