
<%- include("../public/partials/header") -%>

<div class="row my-md-5 padding-row d-flex justify-content-center align-content-center">

    <% if(message !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <%= message %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% if(success !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                        <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <div class="col-11 mb-5 d-flex rounded-3 justify-content-center flex-wrap">
            
        <% lotes.forEach( lote => { %>

            <div class="card m-3 rounded-3 w-100">
                <div class="card-header bg-principal">
                    <h5 class="text-light text-center">Información del Lote</h5>
                </div>
                <div class="card-body body-card-info">
                    <p class="card-text text-center">
                        <strong>Lote:</strong> <%= infoLotes[lote].loteInfo.cod_lote %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Color:</strong> <%= infoLotes[lote].loteInfo.cod_sap_color %>
                    </p>
                    <p class="card-text text-center">
                        <strong>BOM o Fórmula:</strong> <%= infoLotes[lote].loteInfo.bom %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Cliente:</strong> <%= infoLotes[lote].loteInfo.cliente %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Descripción:</strong> <%= infoLotes[lote].loteInfo.descripcion %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Tecnologia:</strong> <%= infoLotes[lote].loteInfo.tecnologia %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Tamaño del Lote:</strong> <%= infoLotes[lote].loteInfo.tam_lote %> KG
                    </p>
                    <p class="card-text text-center">
                        <strong>Tecnologia:</strong> <%= infoLotes[lote].loteInfo.tecnologia %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Inicio de Evaluación de Terminado:</strong> <% 
                        let info = '';
                        infoLotes[lote].evalTerminado.length > 0? info = infoLotes[lote].evalTerminado[0].fecha.split('T')[0] + ' a las ' + infoLotes[lote].evalTerminado[0].fecha.split('T')[1] : info = 'No se ha iniciado el proceso de Evaluación de Terminado' %>
                        <%= info %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Inicio de Evaluación de Terminado:</strong> <% 
                        infoLotes[lote].evalTerminadoFin.length > 0? info = infoLotes[lote].evalTerminadoFin[0].fecha.split('T')[0] + ' a las ' + infoLotes[lote].evalTerminadoFin[0].fecha.split('T')[1] : info = 'No se ha finalizado el proceso de Evaluación de Terminado' %>
                        <%= info %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Inicio en Control de Calidad:</strong> <% 
                        infoLotes[lote].calidad.length > 0? info = infoLotes[lote].calidad[0].fecha.split('T')[0] + ' a las ' + infoLotes[lote].calidad[0].fecha.split('T')[1] : info = 'No se ha iniciado el proceso en Control de Calidad' %>
                        <%= info %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Inicio de Entonado:</strong> <% 
                        infoLotes[lote].entonado.length > 0? info = infoLotes[lote].entonado[0].fecha.split('T')[0] + ' a las ' + infoLotes[lote].entonado[0].fecha.split('T')[1] : info = 'No se ha iniciado el proceso de Entonado' %>
                        <%= info %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Fin de Entonado:</strong> <% 
                        infoLotes[lote].entonadoFin.length > 0? info = infoLotes[lote].entonadoFin[0].fecha.split('T')[0] + ' a las ' + infoLotes[lote].entonadoFin[0].fecha.split('T')[1] : info = 'No se ha finalizado el proceso de Entonado' %>
                        <%= info %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Fin en Control de Calidad :</strong> <% 
                        infoLotes[lote].calidadFin.length > 0? info = infoLotes[lote].calidadFin[0].fecha.split('T')[0] + ' a las ' + infoLotes[lote].calidadFin[0].fecha.split('T')[1] : info = 'No se ha finalizado el proceso en Control de Calidad' %>
                        <%= info %>
                    </p>
                    <p class="card-text text-center">
                        <strong>Comentarios del Lote:</strong> <br/> <%= infoLotes[lote].loteInfo.comentario %>
                    </p>
                </div>
    
            </div>

        <% }); %>

    </div>

</div>

<%- include("../public/partials/footer-done") -%>